$neon-primary-color: #D42CCA;
$neon-secondary-color: #FFD5FF;

#education-slide {
    display: flex;
    flex-direction: column;

    width: 100%;

    .desc {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .edu-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .edu-list {
        height: fit-content;
        list-style: none;
        padding: 10px;
        box-sizing: border-box;
    
        .edu-item {
            width: 100%;
            border-left: 2px solid $neon-secondary-color;
            box-sizing: border-box;
            padding: 20px;
            transition: ease-in-out 0.1s;
            transform: scale(1);
            background-color: rgba($color: #000000, $alpha: 0.8);
            display: flex;
            flex-direction: column;
            gap: 5px;
            h1, h2, h3, h4 {
                padding: 0;
                margin: 0;
            }
    
            h2 {
                font-size: 1.2em;
            }
    
            h3 {
                font-size: 1em;
            }
    
            h4 {
                font-size: 0.9em;
                color: $neon-secondary-color;
            }
        }
    
        .edu-item:hover {
            transform: scale(1.05);
            transition: ease-in-out 0.1s;
            background-color: rgba($color: #000000, $alpha: 0.95);
        }
    }
    
    .tooltip {
        position: relative;
        background-color: #911189;
        padding: 5px 10px;
        font-size: 0.8em;
        border-radius: 5px;
        transition: ease-in-out 0.1s;
    }
    .tooltip:hover {
        background-color: #cd3ec3;
        transition: 0.1s ease-in-out;
    }
    
    .tooltip:after,
    .tooltip:before {
        opacity: 0;
        pointer-events: none;
        bottom: 100%;
        left: 50%;
        position: absolute;
        z-index: 10;
        transform: translate(-50%, 10px);
        transform-origin: top;
        transition: all 0.18s ease-out 0.18s;
    }
    
    .tooltip:after {
        background-color: #f5f5f5;
        box-shadow: 0 0 3px #ddd;
        content: attr(data-tooltip);
        padding: 10px;
        white-space: nowrap;
        margin-bottom: 11px;
        color: #000;
    }
    
    .tooltip:before {
        width: 0;
        height: 0;
        content: "";
        margin-bottom: 6px;
    }
    
    .tooltip:hover:before,
    .tooltip:hover:after {
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, 0);
    }
    
    [data-tooltip-pos="up"]:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #f5f5f5;
        margin-bottom: 6px;
    }
    
    [data-tooltip-pos="down"]:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #f5f5f5;
        margin-top: 6px;
    }
    
    [data-tooltip-pos="right"]:before {
        border-top: 6px solid transparent;
        border-right: 6px solid #f5f5f5;
        border-bottom: 6px solid transparent;
        margin-left: 6px;
    }
    
    [data-tooltip-pos="left"]:before {
        border-top: 6px solid transparent;
        border-left: 6px solid #f5f5f5;
        border-bottom: 6px solid transparent;
        margin-right: 6px;
    }
    
    [data-tooltip-pos="down"]:before,
    [data-tooltip-pos="down"]:after {
        bottom: auto;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -10px);
    }
    
    [data-tooltip-pos="down"]:after {
        margin-top: 11px;
    }
    
    [data-tooltip-pos="down"]:hover:before,
    [data-tooltip-pos="down"]:hover:after {
        transform: translate(-50%, 0);
    }
    
    [data-tooltip-pos="left"]:before,
    [data-tooltip-pos="left"]:after {
        bottom: auto;
        left: auto;
        right: 100%;
        top: 50%;
        transform: translate(10px, -50%);
    }
    
    [data-tooltip-pos="left"]:after {
        margin-right: 11px;
    }
    
    [data-tooltip-pos="left"]:hover:before,
    [data-tooltip-pos="left"]:hover:after {
        transform: translate(0, -50%);
    }
    
    [data-tooltip-pos="right"]:before,
    [data-tooltip-pos="right"]:after {
        bottom: auto;
        left: 100%;
        top: 50%;
        transform: translate(-10px, -50%);
    }
    
    [data-tooltip-pos="right"]:after {
        margin-left: 11px;
    }
    
    [data-tooltip-pos="right"]:hover:before,
    [data-tooltip-pos="right"]:hover:after {
        transform: translate(0, -50%);
    }
    
    [data-tooltip-length]:after {
        white-space: normal;
    }
    
    [data-tooltip-length="small"]:after {
        width: 80px;
    }
    
    [data-tooltip-length="medium"]:after {
        width: 150px;
    }
    
    [data-tooltip-length="large"]:after {
        width: 260px;
    }
    
    [data-tooltip-length="fit"]:after {
        width: 100%;
    }
    
    .desc {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center ;
    }
}

