@use "../base";

nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
    padding: 30px 70px;
    position: fixed;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
    z-index: 99 ;

    &.hidden {
        opacity: 0;
    }

    div {
        display: flex;
        gap: 1em;

        a {
            font-weight: 700;
            font-size: 1em;
            color: #fff;
        }
    }

    h1 {
        font-weight: bold;
        font-size: 2em;
        color: base.$secondary-color;
        margin: 0;
        opacity: 1;
        font-family: base.$special-font;
        text-shadow: 0 0 2px base.$secondary-color, 0 0 1px base.$secondary-color, 0 0 1px base.$secondary-color;
    }
}

.with-bg {
    background-color: rgba($color: #000000, $alpha: 0.7);
    filter: blurr(5px);
}