@use '../../base';

#exp-slide {
    .exp-content-outer {
        background-color: rgba($color: #000000, $alpha: 0.85);
        padding: 20px;
        margin-top: 20px;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    h2 {
        margin: 0;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .exp-content {
        box-sizing: border-box;
        padding: 10px;
        border-left: solid 2px base.$neon-secondary-color;
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;
        gap: 5px;

        background-color: transparent;
        transform: scale(1);
        transition: ease-in-out 0.5s;
    }

    .exp-content:hover {
        background-color: rgba($color: base.$neon-primary-color, $alpha: 0.2);
        transform: scale(1.08);
        padding: 15px 20px;
        transition: ease-in-out 0.5s;
    }

    .exp-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        box-sizing: border-box;

        li {
            box-sizing: border-box;
            background-color: #911189;
            padding: 3px 5px;
            font-size: 0.7em;
            border-radius: 5px;
            transition: ease-in-out 0.1s;
        }

        li:hover {
            background-color: #cd3ec3;
            transition: 0.1s ease-in-out;
        }
    
    }

    p {
        font-family: base.$secondary-font;
        font-size: 0.9em;
        text-align: justify;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
    }


}