$special-font: "Hello Denver", sans-serif;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$primary-color: #6707c2;
$secondary-color: rgb(252, 255, 57);
$neon-primary-color: #D42CCA;
$neon-secondary-color: #FFD5FF;

@mixin neon-text($color, $animation, $duration: 1s) {
  color: $color;
  text-shadow: 0 0 10px $color, 0 0 20px $color, 0 0 30px $color;
  animation: $animation $duration ease-in-out infinite alternate;
}

@mixin neonGlow2Color($color1, $color2) {
  @keyframes neonGlow1 {
    from {
      text-shadow: 0 0 2px $color1, 0 0 5px $color1, 0 0 8px $color1;
    }

    to {
      text-shadow: 0 0 4px $color1, 0 0 6px $color1, 0 0 9px $color1;
    }
  }

  @keyframes neonGlow2 {
    from {
      text-shadow: 0 0 2px $color2, 0 0 5px $color2, 0 0 8px $color2;
    }

    to {
      text-shadow: 0 0 4px $color2, 0 0 6px $color2, 0 0 9px $color2;
    }
  }
}

@mixin neonGlow($color1) {
  @keyframes neonGlow {
    from {
      text-shadow: 0 0 2px $color1, 0 0 5px $color1, 0 0 8px $color1;
    }

    to {
      text-shadow: 0 0 4px $color1, 0 0 6px $color1, 0 0 9px $color1;
    }
  }
}

@mixin flicker {
  @keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        //text-shadow: none;
    opacity: .99;
        
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}
}